
.header{
  background-color: #353a40!important;
}

.color-menu{
  color:#999a95!important;
}

.color-verde{
  color:#299b44!important;
}

.color-menu-selected, .color-blanco{
  color:#ffffff!important;
}

.btn-group-xs > .btn, .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  }

  .fondo{
    background:url('hawaii.jpg');
    height: 80vh;
    background-size:100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;

  }

  .fondoPlaya{
    background:url('honolulu.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
    height: 50vh;


  }

  .fondoGris{
    background-color: #353a40;
    color: #ffffff;
  }
  
  .botonera{
    padding:20px;
  }